@import "tailwindcss";

@layer base {
  html { scroll-behavior: smooth; }
  body { @apply bg-white text-neutral-900 antialiased; }
  h1,h2,h3 { @apply tracking-tight; }
  a { @apply underline-offset-2; }
}

